/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700');*/

body, html {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.cover{
	background: url("img_data/back.jpg") no-repeat center center fixed;
	height: 100%;
	width: 100%;
	background-size: cover;
}

.section{
	height: 100%;
	width: 100%;
	padding: 100px 0;
}
.text_div{
	max-width: 80%;
	margin-top: 10%;
}
.heading{
	font-size: 2rem;
}
.details{
	font-size: 1rem;
	color: #fff;
}
.sidebar{
	position:absolute;
	border: 0;
	background-color: #fff;
	width: 250px;
	left: 0;
	top: 0;
	margin-left: -500px;
	z-index: 1030;
	transition: all .5s cubic-bezier(0.48, 0.03, 0, 0.97);
}

#pp-nav li .active span, .pp-slidesNav .active span {
	background: #fff;
}

#mainNav {
	position: none;
	border-color: rgba(34, 34, 34, 0.05);
	background-color: #0000;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	transition: all .2s ease-in;
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 200;
	letter-spacing: 1px;
}
#mainNav .navbar-menu {margin-top: 45px;}
#mainNav .brand_pane{
	position: absolute;
	pointer-events: none;
	width: 100%;
	text-align: center;
	left: 0;
	top: 0;
	margin: auto;
	height:100%;
	padding-top:10px; 
}
#mainNav .navbar-brand {
	background-color: #fff;
	pointer-events: all;
	border-radius: 60px;
	width: 200px;
	height: 60px;
	text-align: end;
	transition: all .2s ease-in;
}
#mainNav .navbar-brand > p {
	color: #000;
	color: fade(white, 70%);
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 2px;
	margin: 10.5px 25px 0 0;
	transition: all .2s ease-in;
}

#mainNav .navbar-brand > .logo{
	width: 0px;
	height: 0px;
	padding: 20px;
	float: left;
	margin: 5.5px 0 0 20px;
	background: url("img_data/logo_black.svg") no-repeat center;
	background-size: 40px;
}
#mainNav .nav-menu-button{
	position: absolute;
	background-color: #fff;
	border-radius: 0 60px 60px 0;
	width: 80px;
	height: 60px;
	top: 0;
	right: 0;
	padding: 12.5px 5px;
	margin: 10px -80px 0 0;
	transition: all .5s cubic-bezier(0.48, 0.03, 0, 0.97);
}
#mainNav .navbar-toggler {
	border: 0;
	width: 50px;
	height: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform .2s ease-out;
	margin: 0 0 0 20px;
}
#mainNav .navbar-toggler.open {
	transform: rotate(-45deg);  
}
#mainNav .navbar-toggler .line-menu {
	background-color: #000;
	border-radius: 5px;
	width: 100%;
	height: 3px;
}

#mainNav .navbar-toggler .line-menu.half {
	width: 50%;
}

#mainNav .navbar-toggler .line-menu.start {
	transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	transform-origin: right;
}

#mainNav .navbar-toggler.open .line-menu.start {
	transform: rotate(-90deg) translateX(3px);
}

#mainNav .navbar-toggler .line-menu.end {
	align-self: flex-end;
	transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	transform-origin: left;
}

#mainNav .navbar-toggler.open .line-menu.end {
	transform: rotate(-90deg) translateX(-3px);
}

#mainNav .navbar-nav > li > a {
	font-size: 11px;
	font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
	letter-spacing: 2px;
	text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
	color: #fdcc52;
	background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
	background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
	color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
	color: #fdcc52;
}
#mainNav .item1{
	padding: 10px 0 0 0;
}
#mainNav .item2{
	padding: 5px 0 0 0;
}
#mainNav .item3{
	padding: 5px 0 10px 0;
}

@media (min-width: 992px) 
{

	.sidebar{
		width: 0;
		transition: all .5s cubic-bezier(0.48, 0.03, 0, 0.97);
	}
	.heading{
		font-size: 2.5rem;
	}
	.details{
		font-size: 1rem;
		color: #fff;
	}
	#mainNav {
		height: 120px;
		border-color: transparent;
		background-color: transparent;
	}
	#mainNav .nav-menu-button{
		margin-right: 0;
		transition: all .5s cubic-bezier(0.48, 0.03, 0, 0.97);
	}
	#mainNav .navbar-menu { position: absolute;left: 7%;top: 50%; margin: -15px 0 0 0;}
	#mainNav .navbar-brand {
		background-color: transparent;
		width: 300px;
		height: 80px;
		text-align: center;
		margin-top: 7px;
		transition: all .2s ease-in;
	}
	#mainNav .navbar-brand > .logo{
		width: 0px;
		height: 0px;
		padding: 30px;
		margin-left: 50px;
		background: url("img_data/logo_white.svg") no-repeat center;
		background-size: 60px;
	}
	#mainNav .navbar-brand > p {
		color: #fff;
		color: fade(white, 70%);
		font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
		font-size: 25px;
		font-weight: 200;
		letter-spacing: 2px;
		float: top;
		margin: 20px 35px 0 100px;
		transition: all .2s ease-in;
	}
	#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
		color: #fff;
		font-size: 26px;
	}
	#mainNav .navbar-nav > li > a,
	#mainNav .navbar-nav > li > a:focus {
		color: rgba(255, 255, 255, 0.8);
	}
	#mainNav .navbar-nav > li > a:hover,
	#mainNav .navbar-nav > li > a:focus:hover {
		color: white;
	}
	#mainNav.navbar-shrink {
		border-color: rgba(34, 34, 34, 0.1);
		background-color: white;
	}
	#mainNav.navbar-shrink .navbar-brand {
		color: #222222;
	}
	#mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
		color: #fdcc52;
	}
	#mainNav.navbar-shrink .navbar-nav > li > a,
	#mainNav.navbar-shrink .navbar-nav > li > a:focus {
		color: #222222;
	}
	#mainNav.navbar-shrink .navbar-nav > li > a:hover,
	#mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
		color: #fdcc52;
	}

	#mainNav .item1, #mainNav .item2, #mainNav .item3{
		padding: 0;
	}
}
@media (max-width: 480px) 
{
	.sidebar{
	}
	.text_div{
		max-width: 80%;
		margin-top: 10%;
	}
	.heading{
		font-size: 1.5rem;
	}
	.details{
		font-size: 1rem;

		color: #fff;
	}
	#mainNav .brand_pane{
		position: absolute;
		pointer-events: none;
		width: 104.5%;
		text-align: center;
		left: 0;
		top: 0;
		margin: auto;
		height:100%;
		padding-top:7px; 
	}
	#mainNav .navbar-brand {
		background-color: #fff;
		border-radius: 60px;
		width: 60px;
		height: 60px;
		transition: all .2s ease-in;
	}
	#mainNav .navbar-brand > p {
		font-size: 0px;
		transition: all 0s ease-in;
	}

	#mainNav .navbar-brand > .logo{
		margin: 6px 9px;
	}
}